<!DOCTYPE html>
<html>
<head>

    <title>users</title>
</head>
<body>
    {{>part}}
    <h3>Select city of residence</h3>
    <form action="/city" method="post">
        <select name="select">
            {{#cities}}
            <option>{{city_of_residence}}</option>
            {{/cities}}
        </select>
        <input type="submit">
    </form>
    <p></p>
    <div class="dataAboutUsers">
        <table>
            <tr>
              <th>First name</th>
              <th>Last name</th>
              <th>Age</th>
              <th>city_of_residence</th>
              <th>homepage_url</th>
              <th>favorite_color</th>
            </tr>
            {{#users}}
            <tr>
                <td>{{name}}</td>
                <td>{{surname}}</td>
                <td>{{age}}</td>
                <td>{{city_of_residence}}</td>
                <td>{{homepage_url}}</td>
                <td>{{favorite_color}}</td>
            </tr>
            {{/users}}
        </table>
    </div>

    {{>part}}
    <a href="/logout">logout</>
<body>
</html>
